{deps, [
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}},
    partisan,
    {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
]}.

{shell, [{apps, []},
        {config, "config/sys.config"}]}.


{relx, [
    {release, {node , "0.1.0"}, [
        sasl,
        runtime_tools,
        {epmd, none},
        {lasp, load},
        node
    ]},
    {sys_config, "config/sys.config"},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {shell, [{apps, []},
                {config, "config/test.config"}]},
        {relx, [
            {release, {node , "0.1.0"}, [
                sasl,
                runtime_tools,
                {epmd, none},
                {lasp, load},
                node
            ]},
            {dev_mode, true},
            {include_erts, false},
            {sys_config, "config/test.config"},
            {extended_start_script, true}
        ]}]
    }
]}.
